

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4
{
	white-space: pre;
}


.reveal h1
{
	font-size: 3.3em;
}


/* PORTADA */

.reveal section#portada h1 {
	font-size: 10vh;
}

.reveal section#portada img {
	margin: 0px;
	border: none;
	box-shadow: 0px 0px 0px transparent;
	background: transparent;
}


.reveal section#portada p {
	font-size: 3vh;
	display:block;
	text-align: right;
}

.reveal section#portada p span.author {
	font-weight: bold;
}

footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
	font-family: sans-serif;
	display:table;
	vertical-align: middle;
	z-index: 40;
}


/*FIN*/
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-d56ekf');
	src:url('../fonts/icomoon.eot?#iefix-d56ekf') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-d56ekf') format('woff'),
		url('../fonts/icomoon.ttf?-d56ekf') format('truetype'),
		url('../fonts/icomoon.svg?-d56ekf#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal !important;;
	font-weight: normal !important;;
	font-variant: normal !important;;
	text-transform: none !important;;
	line-height: 1 !important;;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

ul#contact {
	padding: 0em;
	margin: 0em;
}

ul#contact li {
	display: inline;
	padding-left: 1vw;
	padding-right: 0.5vw;
	font-size: 0.9em;
}

span.icon-earth:before {
	content: "\e600";
}
span.icon-twitter:before {
	content: "\e601";
}
span.icon-github:before {
	content: "\e602";
}

h1.thankyou {
	font-size: 9vw;
	font-weight: bold;
	padding-bottom: 0.3em;
}


/* FONDO */

footer>div.grass {
	background: url("../img/background-grass.png") top center repeat-x;
	display: block;
	width: 100%;
	height: 39px;
	top: 0px;
}

footer>div.grey {
	background-color: #d3d7cf;
	display: block;
	width: 100%;
	height: 7vh;
}

footer>div.art {
	background: transparent no-repeat;
	background-image: url("../img/background-art.png");
	height: 180px;
	width: 940px;
	margin: auto;
	position: relative;
	top: 36px;
}